.tweet {
  border: 5px solid #545149;
  margin: 1em 0 1em 0;
}

.tweet:hover {
  box-shadow: 2px 2px 1px 0.5px #a0b6ff;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 5px 20px 5px;
}

.user-profile, .user-handle {
  display: flex;
  align-items: center;
}

.user-img {
  margin-right: 2.5px;
}

.user-name {
  font-weight: bold;
}

.tweet-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 20px 5px 20px 5px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5px 5px 5px;
}

.icons {
  color: #4056A1;
}

.fas:hover {
  color: #a0b6ff;
  transition-duration: 0.2s;
}