#tweets-container {
  /* border: 5px solid #545149; */
  border: 2px solid red;
}

.tweet {
  border: 5px solid #545149;
  margin: 1em 0 1em 0;
}

.tweet:hover {
  box-shadow: 2px 2px 2px 2px #728fec;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 5px 5px 20px 5px;
}

.user-img {
  margin-right: 2.5px;
}

.user-name {
  font-weight: bold;
  margin-right: 2.5px;
}

.user-handle {
  margin-left: 2.5px;
}

.tweet-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 20px 5px 20px 5px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5px 5px 5px;
}

.icons {
  color: #4056A1;
  transition-duration: 0.4s;
}

.fas:hover {
  color: #728fec;
}