#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 150px 1.5% 0 1.5%;
  width: 30.3%;
  background-color: #ffdf7d;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

#profile-img {
  margin-top: 20px;
}

#profile-name {
  margin-top: -60px;
  font-size: 30px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: #FFF;
}

@media only screen and (max-width: 1024px) {
  #header {
    float: none;
    margin: 0 auto;
    width: 100%;
    background-color: #ffdf7d;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
    z-index: -1 ;
  }

  #profile-img {
    margin-top: 120px;
  }
}
