/* 
REQUIREMENTS:
 * DONE - The header should have a height of 400px and be 100% the width of its parent container
 * DONE - The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
 * DONE - The name should be centered below the avatar
 * DONE - The background-color should be a different colour than the nav and the body
*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
  background-color: #ffdf7d;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  z-index: -1;
}