/* 
REQUIREMENTS:
 * DONE - 90% of the width of its parent element
 * DONE - center aligned to the body
 * INHERITED - the same background colour as the <body> element
*/

#container {
  float: right;
  margin: 150px 1.5% 0 1.5%;
  width: 63.7%;
}

@media only screen and (max-width: 1024px) {
  #container {
    float: initial;
    margin: auto;
    width: 90%;
  }
}