#nav {
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 0 1.5em 0 1.5em;
  background-color: #4056A1;
  color: #FFFFFF; 
  z-index: 0;
}

#nav-logo {
  font-size: 45px;
}

#nav-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas.fa-angle-double-down {
  color: red;
}

@media only screen and (max-width: 1024px) {
  #nav {
    background-color: transparent;
  }

  #nav-logo {
    color: #4056A1;
  }

  #nav-tweet {
    color: #4056A1;
  }
}