#new-tweet {
  border: 3px solid red;
}

#error-msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

#tweet-text {
  border: none;
  resize: none;
  width: 100%;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
}

#new-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

#tweet-button {
  border-radius: 6px;
  background-color: #4056A1;
  color: white;
  transition-duration: 0.3s;
}

#tweet-button:hover {
  background-color: #a0b6ff;
}

#counter {
  font-weight: bold;
  margin-right: 5px;
}
